<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <input type="text" hint='Enter Title or Author'>
        <label type="radio" name="title" id="title">Title</label>
        <label type="radio" name="author" id="author">Author</label>
   <button type="submit" >Search the Google Books API</button>
    </form>
</body>
</html>