<<<<<<< HEAD
@media only screen and (max-width: 600px) {
    body {
      background-color: #9b9b9b;
    }

    header nav h1{
        font-size: 20px;
    }
    header nav {
        background-color: #000;
        color: #fff;
    }
    
  }
=======

  body {
    min-height: 100vh;;
}
main{
    max-width: 600px;
    margin: auto;
    padding: 35px 2em;
}
header nav {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
}
.links-block {
    display: none;
    padding: 0 15px;
}
.links-block-visible {
    display: flex;
    flex-direction: column;
}
   
  

  
>>>>>>> 4ea195631e5fd3a46c9497d2d295943f4f9b91c9
