@media only screen and (max-width: 600px) {
    body {
      background-color: #9b9b9b;
    }

    header nav h1{
        font-size: 20px;
    }
    header nav {
        background-color: #000;
        color: #fff;
    }
    
  }